body {
  background-color: #f1f6fa;
}

@font-face {
  font-family: Baloo Tammudu 2;
  src: url("/fonts/BalooTammudu2-Medium.ttf");
}

.AddtoCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 259px;
  height: 42px;
  border-radius: 21px;
  border: 2px solid #00ca00;
  background-color: #ffffff;
}

.maintext {
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
}

.bigwhite {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin: 29px 279px 30px 123px;
}

.header__logo__btn {
  background-color: #00ca00;
  border-radius: 20px 0 0 20px;
}

.header__search {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search__input {
  width: 452px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  background-color: #ffffff;
  border: none;
}

.header__search__input__img {
  width: 19px;
  height: 20px;
  margin: 9px   19px   12px  0;
}

.navigation {
  height: 56px;
  background-color: #0074ea;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navbar * {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 100px;
  color: white;
}

.Cart {
  margin-left: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Cart__img {
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
}

.Cart__img__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffbd00;
}

.Cart__img__supermarket {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.Cart__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Cart__name {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
}

.Cart__total {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
}

.promos {
  margin: 40px 0px 0px 125px;
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promos__cardToys {
  margin-right: 28px;
  width: 732px;
  height: 482px;
  border-radius: 10px;
  background-color: #00aaff;
}

.promos__cardToys__img {
  right: 0;
}

.promos__cardToys__oldPrice {
  margin-top: 86px;
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 72px;
  font-weight: 700;
  line-height: 50px;
}

.promos__cardToys__newPrice {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 58px;
  font-weight: 700;
  line-height: 50px;
}

.promos__cardToys__backgroundred {
  width: 167px;
  height: 75px;
  border-radius: 38px;
  background-color: #ff250d;
}

.promos__cardToys__backgroundtop {
  width: 409px;
  height: 62px;
  border-radius: 31px;
  background-color: #00ca00;
}

.promos__cardToys__backgroundbottom {
  width: 494px;
  height: 62px;
  border-radius: 31px;
  background-color: #00ca00;
}

.promos__cardToys__text {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.promos__cardBarbie {
  margin-bottom: 19px;
  width: 417px;
  height: 231px;
  border-radius: 10px;
  background-color: #ff0c7b;
}

.promos__cardBarbie__img {
  width: 135px;
  height: 217px;
}

.promos__cardBarbie__NewCollection {
  width: 189px;
  height: 67px;
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.promos__cardBarbie__View {
  width: 93px;
  height: 11px;
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

.promos__cardCar {
  width: 417px;
  height: 231px;
  border-radius: 10px;
  background-color: #00ca00;
}

.promos__cardCar__img {
  position: absolute;
  right: 0;
  width: 222px;
  height: 194px;
}

.promos__cardCar__NewToys {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.promos__cardCar__Watch {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

.promos .double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits {
  width: 1170px;
  margin: 40px 0px 0px 125px;
}

.benefits .border {
  width: 1px;
  height: 40px;
  background-color: #e9e9e9;
  margin: 0 40px 0 40px;
}

.benefits .navbar {
  height: 84px;
  border-radius: 10px;
  background-color: #ffffff;
}

.benefits .navbar .Shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .navbar .Shipping__img {
  width: 44px;
  height: 25px;
  margin: 0px 10px 0px 0px;
}

.benefits .navbar .Shipping__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits .navbar .Shipping__name {
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar .Shipping__total {
  color: #616161;
  font-family: "Baloo Tammudu 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar .Benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .navbar .Benefits__img {
  width: 31px;
  height: 27px;
  margin: 0px 10px 0px 0px;
}

.benefits .navbar .Benefits__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits .navbar .Benefits__name {
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar .Benefits__total {
  color: #616161;
  font-family: "Baloo Tammudu 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar .Voicemail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .navbar .Voicemail__img {
  width: 29px;
  height: 29px;
  margin: 0px 10px 0px 0px;
}

.benefits .navbar .Voicemail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits .navbar .Voicemail__name {
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar .Voicemail__total {
  color: #616161;
  font-family: "Baloo Tammudu 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar .Payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .navbar .Payment__img {
  width: 30px;
  height: 26px;
  margin: 0px 10px 0px 0px;
}

.benefits .navbar .Payment__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits .navbar .Payment__name {
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}

.benefits .navbar__total {
  color: #616161;
  font-family: "Baloo Tammudu 2";
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discounts {
  margin: 102px 0 0 125px;
}

.discounts__header {
  width: 1167px;
  margin: 0 0 38px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discounts__header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discounts__header__previous {
  width: 40px;
  height: 40px;
  border: 2px solid #ffbd00;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 0;
}

.discounts__header__next {
  width: 40px;
  height: 40px;
  background-color: #ffbd00;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discounts__header__logo {
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 56px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.discounts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discounts__body__train {
  width: 244px;
  height: 128px;
  margin: 54px 0  63px 0;
}

.discounts__body__ducks {
  width: 178px;
  height: 195px;
  margin: 11px 0  39px 0;
}

.discounts__body__sportcar {
  width: 220px;
  height: 138px;
  margin: 39px 0  68px  0;
}

.discounts__body__Camerica {
  margin: 26px  0  37px  0;
  width: 181px;
  height: 182px;
}

.discounts__body__card-title {
  width: 228px;
  height: 35px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
}

.discounts__body__card {
  margin: 0 5px 0 0;
  width: 289px;
  height: 439px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discounts__body__text-style-white {
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 36px;
  font-weight: 700;
  line-height: 19px;
  background-size: 90px 40px;
  border-radius: 20px;
  background-color: #ff250d;
}

.discounts__body__text-style-black {
  color: #333333;
  font-family: "Baloo Tammudu 2";
  font-size: 30px;
  font-weight: 700;
  line-height: 19px;
}

.discounts__product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 259px;
  height: 42px;
  border-radius: 21px;
  border: 2px solid #00ca00;
  background-color: #ffffff;
}

.discounts__product__text__Add_to_Cart {
  margin-left: 11px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

.discounts__footer {
  margin: 40px 0 0 0;
  width: 1167px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discounts__footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discounts__footer__pg1 {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #ffbd00;
}

.discounts__footer__pg2 {
  margin: 0 7px  0 7px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #ffbd00;
  background-color: #ffffff;
}

.discounts__footer__pg3 {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #ffbd00;
  background-color: #ffffff;
}

.announcements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  width: 578px;
  height: 336px;
}

.about__headerText {
  width: 227px;
  height: 36px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 56px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
}

.about__Texta {
  width: 615px;
  height: 94px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
}

.about__Textf {
  width: 611px;
  height: 90px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
}

.about__Readmore {
  width: 78px;
  height: 12px;
  color: #ffc125;
  font-family: "Baloo Tammudu 2";
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
}

.content {
  margin: 0 0 0 124px;
}

.content__line {
  width: 1170px;
  height: 1px;
  background-color: #dddddd;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 26px 0;
}

.content__top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__top__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffbd00;
  border-radius: 50%;
  margin-left: 10px;
}

.content__top__previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffbd00;
  background-color: #ffffff;
  border-radius: 50%;
}

.content__top__text {
  width: 210px;
  height: 36px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 56px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0  421px 0 0;
}

.content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .popular__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .popular__content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .popular__content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .popular__content__card {
  width: 354px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
}

.content .popular__content__card-title {
  width: 184px;
  height: 35px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
}

.content .popular__content__card-price {
  color: #333333;
  font-family: "Baloo Tammudu 2";
  font-size: 30px;
  font-weight: 700;
  line-height: 19px;
}

.content .popular__content__card-addtoCart {
  width: 210px;
  height: 42px;
  border-radius: 21px;
  border: 2px solid #00ca00;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .reviews__subhead__textB {
  width: 394px;
  height: 110px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content .reviews__subhead__textS {
  width: 383px;
  height: 38px;
  color: #2b2b2b;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.map {
  background-image: url(../img/map.png);
  background-size: cover;
  width: 100%;
  height: 469px;
}

.footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 56px;
  background-color: #0074ea;
}

.footer__title {
  white-space: nowrap;
  margin-left: 37px;
  width: 129px;
  height: 14px;
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer__company {
  white-space: nowrap;
  margin-right: 18px;
  width: 135px;
  height: 14px;
  color: #ffffff;
  font-family: "Baloo Tammudu 2";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */